* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

input, button, textarea {
  font-family: inherit;
}

textarea {
  resize: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  font-size: 16px;
}
body._lock {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  padding: 30px 0;
  position: relative;
  z-index: 100;
}
.header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 2;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  position: relative;
  z-index: 3;
}
.header__logo img {
  max-width: 100%;
}
.header-menu {
  position: relative;
  z-index: 3;
}
@media (max-width: 1200px) {
  .header-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -120%;
    left: 0;
    background: rgb(11, 39, 43);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 1;
    overflow: auto;
  }
  .header-menu._active {
    top: 0;
  }
}
.header-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1200px) {
  .header-menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 120px 15px 30px;
    gap: 24;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.burger-menu {
  display: none;
  width: 30px;
  height: 16px;
  background: transparent;
  position: relative;
  z-index: 3;
}
.burger-menu._active .burger-menu__line_2 {
  width: 0;
  -webkit-transition: all 0s ease 0.3s;
  transition: all 0s ease 0.3s;
}
.burger-menu._active .burger-menu__line_1 {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: rotate(40deg) translate(0, -50%);
      -ms-transform: rotate(40deg) translate(0, -50%);
          transform: rotate(40deg) translate(0, -50%);
  -webkit-transition: top 0.3s ease 0s, -webkit-transform 0.3s ease 0.3s;
  transition: top 0.3s ease 0s, -webkit-transform 0.3s ease 0.3s;
  transition: top 0.3s ease 0s, transform 0.3s ease 0.3s;
  transition: top 0.3s ease 0s, transform 0.3s ease 0.3s, -webkit-transform 0.3s ease 0.3s;
}
.burger-menu._active .burger-menu__line_3 {
  position: absolute;
  bottom: 50%;
  left: 0;
  -webkit-transform: rotate(-40deg) translate(0, 50%);
      -ms-transform: rotate(-40deg) translate(0, 50%);
          transform: rotate(-40deg) translate(0, 50%);
  -webkit-transition: bottom 0.3s ease 0s, -webkit-transform 0.3s ease 0.3s;
  transition: bottom 0.3s ease 0s, -webkit-transform 0.3s ease 0.3s;
  transition: bottom 0.3s ease 0s, transform 0.3s ease 0.3s;
  transition: bottom 0.3s ease 0s, transform 0.3s ease 0.3s, -webkit-transform 0.3s ease 0.3s;
}
@media (max-width: 1200px) {
  .burger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.burger-menu__line {
  background: #000000;
  width: 100%;
  height: 2px;
  border-radius: 100px;
  position: absolute;
}
.burger-menu__line_1 {
  top: 0;
  left: 0;
  -webkit-transition: top 0.3s ease 0.3s, -webkit-transform 0.3s ease 0s;
  transition: top 0.3s ease 0.3s, -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, top 0.3s ease 0.3s;
  transition: transform 0.3s ease 0s, top 0.3s ease 0.3s, -webkit-transform 0.3s ease 0s;
}
.burger-menu__line_2 {
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: all 0s ease 0.3s;
  transition: all 0s ease 0.3s;
}
.burger-menu__line_3 {
  bottom: 0;
  left: 0;
  -webkit-transition: bottom 0.3s ease 0.3s, -webkit-transform 0.3s ease 0s;
  transition: bottom 0.3s ease 0.3s, -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, bottom 0.3s ease 0.3s;
  transition: transform 0.3s ease 0s, bottom 0.3s ease 0.3s, -webkit-transform 0.3s ease 0s;
}