$containerWidth: 1440;

@import "nullstyle.scss";
@import "mixins.scss";

@font-face {
	font-family: "Edo";
	src:
		url("../fonts/edo.woff2") format("woff2"),
		url("../fonts/edo.woff") format("woff");
}

//

html,
body {
	height: 100%;
}

body {
	line-height: 1;
	font-family: Roboto, sans-serif;
	font-weight: 500;
	@include adaptiveValue(font-size, 20, 18);
	line-height: 140%;
	color: #1d1d1d;
	&._lock {
		overflow: hidden;
	}
}
//

.wrapper {
	overflow: hidden;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.page {
	flex: 1 1 auto;
	&-dark {
		background: #1d1d1d;
		color: #fff;
	}
}

[class*="__container"] {
	max-width: $containerWidth + px;
	margin: 0 auto;
	@media (min-width: 991.98px) {
		padding: 0 3rem;
	}
	padding: 0 1.4375rem;
	@media (max-width: 24.0625rem) {
		padding: 0 0.9375rem;
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.button {
	border: 0.125rem solid #fff;
	border-radius: 8px;
	padding: 1rem 1.5rem;
	font-family: "Roboto Condensed", sans-serif;
	color: #fff;
	transition: all 0.3s ease 0s;
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 100%;
	text-transform: uppercase;
	display: inline-flex;
	align-items: center;
	gap: 0.75rem;
	justify-content: center;
	@media (any-hover: hover) {
		&:hover {
			border-color: #e5193a;
			color: #e5193a;
		}
	}
	&-italic {
		font-style: italic;
	}
	&-red {
		background: #e5193a;
		border-color: transparent;
		&-hover-dark {
			@media (any-hover: hover) {
				&:hover {
					background: transparent;
				}
			}
		}
		&-hover-light {
			@media (any-hover: hover) {
				&:hover {
					background: transparent;
					color: #e5193a;
					border-color: #e5193a;
				}
			}
		}
	}
	&-alt {
		color: rgba(255, 255, 255, 0.74);
		border-color: rgba(255, 255, 255, 0.74);
	}
	&-diff {
		border-color: #e5193a;
		border-radius: 38px;
		color: #1d1d1d;
		svg {
			color: #e5193a;
		}
		&.button.button-diff-dark-mode {
			@media (any-hover: hover) {
				&:hover {
					color: #e5193a;
				}
			}
		}
	}
}

.label {
	font-family: "Edo", sans-serif;
	font-weight: 400;
	@include adaptiveValue(font-size, 28, 20);
	line-height: 107%;
	letter-spacing: 0.06em;
	color: #e5193a;
}
.title {
	font-family: "Roboto Condensed", sans-serif;
	font-weight: 700;
	@include adaptiveValue(font-size, 48, 36);
	line-height: 104%;
	color: #1d1d1d;
	&-white {
		color: #fff;
	}
}

.crawl {
	&__body {
		background: #fff;
		display: flex;
		flex: 0 0 auto;
		min-width: fit-content;
		span {
			text-wrap: nowrap;
			background: #fff;
			display: block;
		}
	}
}
.ibg {
	position: relative;
	img,
	video {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
		object-position: center;
	}
}

.article {
	min-height: 28.3125rem;
	position: relative;
	display: flex;
	align-items: flex-end;
	border-radius: 0.5rem 0.5rem 0 0;
	overflow: hidden;
	box-shadow: inset 0.5rem 0.5rem 0.75rem 0 rgba(0, 0, 0, 0.25);
	transition: transform 0.5s ease 0s;
	@media (any-hover: hover) {
		&:hover {
			transform: scale(1.1);
		}
	}
	color: #fff;
	&__wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
		column-gap: 1.5rem;
		@include adaptiveValue(row-gap, 96, 24);
	}
	&__back {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 1;

		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: linear-gradient(
				180deg,
				rgba(0, 0, 0, 0),
				rgba(25, 25, 25, 0.72) 72%,
				rgba(27, 27, 27, 0.92) 83%,
				rgba(29, 29, 29, 1) 100%
			);
		}
	}

	&__info {
		position: relative;
		z-index: 2;
		padding: 1rem;
	}

	&__title {
		font-family: "Roboto Condensed", sans-serif;
		font-weight: 700;
		font-size: 1.375rem;
		line-height: 109%;
		text-transform: uppercase;
		margin-bottom: 0.5rem;
	}

	&__subtitle {
		font-size: 0.9375rem;
		line-height: 127%;
		color: rgba(255, 255, 255, 0.99);
		@include multiLineEllipsis(3);
	}
}

//==========================================================================================================================================================

.header {
	padding: 0.875rem 0;

	&:not(.header-static) {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 100;
	}
	@media (max-width: 47.9988rem) {
		border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.59);
	}
	&-bb {
		border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.59);
	}
	&-white {
		& .header-menu__link {
			color: #fff;
		}
		& .header-menu__link.button {
			color: #fff;
			border-color: #fff;
			@media (any-hover: hover) {
				&:hover {
					border-color: #e5193a;
					color: #e5193a;
				}
			}
		}
	}
	&-dark {
		& .header-menu__link {
			color: #1d1d1d;
			@media (max-width: 767.98px) {
				color: #fff;
			}
		}
		& .header-menu__link.button {
			border-color: #e5193a;
			color: #e5193a;
		}
		.burger-menu__line {
			background: #1d1d1d;
		}
		@media (max-width: 1250px) {
			.header-menu {
				background: #fff;
			}

			.header-menu__link {
				color: #1d1d1d;
			}
		}
		&.header-bb {
			border-color: rgba(0, 0, 0, 0.59);
		}
	}
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 0.9375rem;
		max-width: 85.875rem;
	}

	&__logo {
		position: relative;
		z-index: 5;
		&-dh {
			@media (min-width: 767.98px) {
				img.header__logo-white,
				img.header__logo-dark {
					display: none;
				}
			}
		}
		&-sw {
			.header__logo-white {
				display: block;
			}
			.header__logo-dark {
				display: none;
			}
		}
		&-sd {
			.header__logo-white {
				display: none;
			}
			.header__logo-dark {
				display: block;
			}
		}
		.header__logo-dark-anim.header__logo-dark {
			@media (min-width: 767.98px) {
				display: block;
			}
			opacity: 0;
			visibility: hidden;
		}
		@media (max-width: 450px) {
			max-width: 120px;
		}
	}

	&__logo-dark {
	}

	&__logo-white {
	}
}
.header-menu {
	@media (max-width: 1250px) {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: -120%;
		background: #fff;
		padding: 9.375rem 1.25rem 1.875rem;
		transition: all 0.3s ease 0s;
		overflow: auto;
		&._active {
			left: 0%;
		}
		@media (max-width: 767.98px) {
			background: #1d1d1d;
		}
	}
	&__list {
		display: flex;
		align-items: center;
		@include adaptiveValue(gap, 26, 20);
		@media (max-width: 1250px) {
			flex-direction: column;
			align-items: flex-start;
		}
	}

	&__item {
	}

	&__link {
		font-family: "Roboto Condensed", sans-serif;
		font-weight: 700;
		font-size: 1.25rem;
		line-height: 100%;
		text-transform: uppercase;
		&:not(.button) {
			transition: all 0.3s ease 0s;
		}
		@media (any-hover: hover) {
			&:hover {
				color: #e5193a;
			}
		}

		&.button {
			padding: 0.625rem 0.75rem;
			border: 0.0625rem solid #fff;
			border-radius: 0.5rem;
			color: #fff;
			display: inline-block;
			transition: all 0.3s ease 0s;
		}
	}
}

.burger-menu {
	display: none;
	width: 30px;
	height: 16px;
	background: transparent;
	position: relative;
	z-index: 3;
	&._active {
		.burger-menu__line_2 {
			width: 0;
			transition: all 0s ease 0.3s;
		}
		.burger-menu__line_1 {
			position: absolute;
			top: 50%;
			left: 0;
			transform: rotate(40deg) translate(0, -50%);
			transition:
				top 0.3s ease 0s,
				transform 0.3s ease 0.3s;
		}
		.burger-menu__line_3 {
			position: absolute;
			bottom: 50%;
			left: 0;
			transform: rotate(-40deg) translate(0, 50%);
			transition:
				bottom 0.3s ease 0s,
				transform 0.3s ease 0.3s;
		}
	}
	@media (max-width: 1250px) {
		display: flex;
	}
	&__line {
		background: #000000;
		width: 100%;
		height: 2px;
		border-radius: 100px;
		position: absolute;
		@media (max-width: 767.98px) {
			background: #fff;
		}
		&_1 {
			top: 0;
			left: 0;
			transition:
				transform 0.3s ease 0s,
				top 0.3s ease 0.3s;
		}

		&_2 {
			top: 50%;
			left: 0;
			transform: translate(0, -50%);
			transition: all 0s ease 0.3s;
		}

		&_3 {
			bottom: 0;
			left: 0;
			transition:
				transform 0.3s ease 0s,
				bottom 0.3s ease 0.3s;
		}
	}
}

//==========================================================================================================================================================

.hero-home {
	position: relative;
	z-index: 3;
	background: #1d1d1d;
	clip-path: polygon(0 0, 100% 0, 100% 89%, 0 100%);
	@media (max-width: 101.25rem) {
		clip-path: polygon(0 0, 100% 0, 100% 93%, 0 100%);
	}
	@media (max-width: 61.9988rem) {
		clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
	}
	&__wrapper {
		background: #1d1d1d;
	}
	&__container {
		position: relative;
		z-index: 2;
		@media (max-width: 767.98px) {
			padding: 0;
		}
	}

	&__body {
		position: relative;
		display: flex;
		transform: translate(-100%, 0);
	}

	&__slide {
		flex: 0 0 100%;
		display: flex;
		position: relative;
		@media (max-width: 767.98px) {
			min-height: 57.5625rem;
			overflow: hidden;
		}

		&-02 {
			opacity: 0;
			visibility: hidden;
		}
		&-reverse {
			flex-direction: row-reverse;

			.hero-home__info {
				border: none;
			}

			.hero-home__info-wrapper {
				@media (min-width: 767.98px) {
					padding-bottom: 8.25rem;
				}
			}
			.hero-home__switcher {
				left: 0;
				transform: translate(-50%, 0);
				justify-content: flex-end;
				svg {
					position: relative;
					z-index: 2;
					margin-right: 11px;
					transform: rotate(180deg);
				}
			}
			.hero-home__pizza-image {
				margin-left: 0;

				transform: translate(-68%, -50%) scale(0.9);
				opacity: 0;
				visibility: hidden;
				@media (max-width: 767.98px) {
					transform: translate(-65%, 0);
				}
			}

			.hero-home__decor {
				&::after {
					left: -50vw;
				}

				&::before {
					display: none;
				}
			}
			.hero-home__buton {
				@media (max-width: 767.98px) {
					display: none;
				}
			}
		}
	}

	&__info {
		@media (max-width: 767.98px) {
			width: 100%;
			background: transparent;
		}
		z-index: 2;
		background: #1d1d1d;
		@media (min-width: 767.98px) {
			flex: 0 1 50%;
			border-right: 2px solid #fff;
		}
		@media (min-width: 767.98px) {
			padding-bottom: 50px;
		}
	}
	&__info-wrapper {
		overflow: hidden;
		position: relative;

		@media (max-width: 1200px) {
			padding: 150px 20px 273px 20px;
		}
		@media (min-width: 1200px) {
			@include adaptiveValue(padding-left, 162, 0);
			padding: 209px 70px 273px 162px;
		}
		@media (max-width: 767.98px) {
			padding: 0;
		}
	}

	&__label {
		@include adaptiveValue(font-size, 34, 22);
		line-height: 106%;
		letter-spacing: -0.02em;
		text-transform: uppercase;
		color: #fff;
		max-width: 252px;
		@include adaptiveValue(margin-bottom, 27, 13);
		@media (min-width: 767.98px) {
			transform: rotate(-4deg);
		}
		@media (max-width: 767.98px) {
			max-width: 130px;
		}
	}

	&__main-title {
		font-weight: 700;
		@include adaptiveValue(font-size, 64, 29);
		line-height: 100%;
		color: #fff;
		max-width: 470px;
		@media (min-width: 767.98px) {
			margin-bottom: 68px;
		}
		@media (max-width: 767.98px) {
			box-shadow: -2px 4px 12px 0 rgba(0, 0, 0, 0.04);
			background: rgba(29, 29, 29, 0.41);
			border: 1.02px solid #fff;
			border-radius: 50%;
			backdrop-filter: blur(10px);
			aspect-ratio: 1/1;
			display: flex;
			align-items: center;
			justify-content: center;
			transform: rotate(-8deg);
			margin-bottom: 298px;
			width: 68.1%;
			@include adaptiveValue(margin-top, 150, 113);
			@include adaptiveValue(margin-left, -50, -25);
			min-width: 297px;
		}

		&-wrapper {
		}
		&-alt {
			font-family: "Roboto Condensed", sans-serif;
			font-weight: 600;
			@include adaptiveValue(font-size, 88, 44);
			line-height: 91%;
			text-transform: uppercase;
			color: #e5193a;
			@include adaptiveValue(margin-bottom, 40, 0);
		}
	}

	&__header {
		@media (max-width: 767.98px) {
			box-shadow: -0.125rem 0.25rem 0.75rem 0 rgba(0, 0, 0, 0.04);
			background: rgba(29, 29, 29, 0.41);
			border: 0.0638rem solid #fff;
			border-radius: 50%;
			backdrop-filter: blur(10px);
			aspect-ratio: 1/1;
			display: flex;
			align-items: flex-start;
			justify-content: center;
			flex-direction: column;
			transform: rotate(-8deg);
			margin-bottom: 24rem;
			width: 68.1%;
			@include adaptiveValue(margin-top, 150, 102);
			@include adaptiveValue(margin-right, -50, -25);

			min-width: 18.5625rem;
			margin-left: auto;
			@include adaptiveValue(padding-inline, 60, 50);
		}
	}

	&__main-title-label-01 {
		font-family: "Edo", sans-serif;
		font-weight: 400;
		@include adaptiveValue(font-size, 80, 35);
		color: #1d1d1d;
		text-shadow:
			-1px -1px 0 #000,
			/* Top-left shadow */ 1px -1px 0 #fff,
			/* Top-right shadow */ -1px 1px 0 #fff,
			/* Bottom-left shadow */ 1px 1px 0 #fff; /* Bottom-right shadow */
		@media (max-width: 767.98px) {
			line-height: 125%;
		}
	}

	&__main-title-label-02 {
		font-weight: 600;
		@include adaptiveValue(font-size, 130, 60);
		line-height: 103%;
		text-transform: uppercase;
		color: #e5193a;
		@media (max-width: 767.98px) {
			letter-spacing: -0.02em;
		}
	}
	&__subtitle {
		font-family: "Roboto", sans-serif;
		font-weight: 600;
		@include adaptiveValue(font-size, 20, 18);
		line-height: 140%;
		color: #fff;
		max-width: 20.75rem;
		@include adaptiveValue(margin-bottom, 80, 90);
		@media (max-width: 767.98px) {
			margin: 0 auto;
		}
		@media (max-width: 450px) {
			max-width: 231px;
		}
	}

	&__actions {
		display: flex;
		gap: 24px;
		@media (max-width: 1100px) {
			flex-direction: column;
			max-width: 18.5625rem;
			margin: 0 auto;
		}
		@media (max-width: 767.98px) {
			margin-bottom: 101px;
		}
	}
	&__switcher {
		position: absolute;
		width: 5.875rem;
		height: 5.875rem;
		top: 47.08%;
		right: 0;
		border-radius: 50%;
		display: flex;
		align-items: center;
		transform: translate(50%, 0);
		@media (max-width: 767.98px) {
			color: #e5193a;
		}
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			border-radius: 50%;
			background: #fff;
			border: 1px dashed #000000;
			z-index: 1;
			animation: spin 20s linear infinite;
			@media (max-width: 767.98px) {
				background: #1d1d1d;
				border-color: #fff;
			}
		}
		svg {
			position: relative;
			z-index: 2;
			margin-left: 11px;
		}
	}

	&__buton {
		flex: 0 0 50%;
		&-alt {
			padding: 10px;
			display: inline-block;
			flex: 0 0 auto;
		}
	}

	&__decor {
		flex: 0 1 50%;
		position: relative;
		z-index: 1;
		@media (min-width: 767.98px) {
			&::after {
				content: "";
				position: absolute;
				width: 100vw;
				height: 110%;
				top: 0;
				left: 0%;
				background: #fff;
				z-index: 1;
			}
		}
		@media (max-width: 767.98px) {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			justify-content: flex-start;
		}
		display: flex;
		justify-content: center;
		position: relative;
		align-items: flex-end;
	}

	&__pizza-image {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(-50%, -50%);
		z-index: 3;
		height: 785px;
		aspect-ratio: 1/1;
		@media (max-width: 767.98px) {
			@include adaptiveValue(top, 200, 0);
			right: 0;

			transform: translate(0, 0);
			margin-left: 28%;
			img {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
			}
		}
	}

	&__boxes-image {
		position: relative;
		z-index: 2;
		display: inline-block;
		margin-bottom: 27.14%;
		@media (min-width: 991.98px) {
			margin-bottom: 154px;
			margin-left: -27px;
		}
		@media (max-width: 991.98px) {
			max-width: 350px;
		}
		@media (max-width: 767.98px) {
			max-width: 400px;
			margin-left: 5.64%;
			@include adaptiveValue(margin-bottom, 30, 230);
		}

		@media (max-width: 420px) {
			margin-bottom: 66.14%;
			max-width: 94.61%;
		}
	}

	&__footer {
		position: relative;
		z-index: 5;
		transform: translate(0, 0);
	}

	&__crawl {
		border: 0.125rem solid #636363;
		margin-top: -100px;
		transform: rotate(-4deg);
		font-family: "Edo", sans-serif;
		font-weight: 400;
		font-size: 1.875rem;
		line-height: 100%;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		color: #636363;

		gap: 2.8125rem;

		padding: 0.625rem 0;
		position: relative;
		z-index: 2;
		position: relative;
		@media (max-width: 767.98px) {
			font-size: 1.25rem;
			line-height: 110%;
			margin-bottom: -120px;
		}
	}
}

//==========================================================================================================================================================

.home-promotions {
	position: relative;
	z-index: 1;
	margin-top: -100px;
	&__container {
		padding: 0;
		max-width: unset;
	}

	&__swiper {
		& .home-promotions__swiper-pagination {
			@include adaptiveValue(bottom, 130, 80);
			.swiper-pagination-bullet {
				background: url(../img/main/bullet-pagination-icon.svg) center/contain no-repeat;
				height: 0.75rem;
				width: 0.75rem;
				position: relative;
				opacity: 1;
			}
			.swiper-pagination-bullet-active {
				background: #e5193a;
			}
		}
	}

	&__wrapper {
	}

	&__slide {
	}
	&__body {
		&-dark {
			background: #1d1d1d;
			color: #fff;
			position: relative;
			@include adaptiveValue(padding-bottom, 130, 115);
			&::after {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				bottom: 0;
				left: 0;
			}
		}
		padding-top: 11.875rem;
		@media (max-width: 767.98px) {
			padding-top: 15.625rem;
		}
		display: flex;
		@include adaptiveValue(gap, 75, 40);
		overflow: hidden;
		justify-content: space-between;
		@media (max-width: 767.98px) {
			flex-direction: column;
		}
	}

	&__decor {
		@include adaptiveValue(margin-left, -200, -50);
		@media (max-width: 767.98px) {
			order: 2;
		}
	}

	&__info {
		max-width: 22.5rem;
		@media (min-width: 1440px) {
			max-width: 31.25rem;
		}
		@media (max-width: 767.98px) {
			padding: 0 1.5rem;
			order: 1;
		}
		@media (min-width: 767.98px) {
			padding-top: 3.75rem;
		}
	}

	&__label {
		@include adaptiveValue(margin-bottom, 8, 0);
	}

	&__title {
		@include adaptiveValue(margin-bottom, 16, 0);
	}

	&__text {
		&-sm {
			@media (min-width: 767.98px) {
				display: none;
			}
			@media (max-width: 767.98px) {
				padding: 0 24px;
				max-width: 60%;
			}
		}
		span {
			color: #e5193a;
		}
		& p:not(:last-child) {
			@media (min-width: 767.98px) {
				margin-bottom: 8px;
			}
		}
	}

	&__decor-badge {
		@include adaptiveValue(margin-right, -200, -50);
		margin-left: 0;
		.home-promotions__image {
			position: relative;
			@media (max-width: 767.98px) {
				max-width: 400px;
				margin-left: auto;
			}
		}
		@media (max-width: 767.98px) {
			order: 3;

			&:has(.home-promotions__text-sm) {
				display: flex;
			}
		}
	}

	&__badge {
		font-family: "Edo", sans-serif;
		font-weight: 400;
		@include adaptiveValue(font-size, 30, 20);
		line-height: 100%;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		color: #fff;
		transform: rotate(-23deg);
		width: 158px;
		@include adaptiveValue(width, 159, 95);
		aspect-ratio: 1/1;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		@include adaptiveValue(padding, 30, 20);
		position: absolute;
		bottom: 0;
		left: 0;
		@media (min-width: 767.98px) {
			bottom: 10%;
		}
	}

	&__badge-red {
		background: #e5193a;
	}

	&__swiper-pagination {
	}
}

//==========================================================================================================================================================

.home-reviews {
	position: relative;
	z-index: 5;
	&__wrapper {
		background: #e5193a;
		@media (max-width: 767.98px) {
			padding-bottom: 3.75rem;
		}
	}
	&__container {
		display: flex;
		color: #fff;
		@include adaptiveValue(gap, 20, 33);
		@media (max-width: 1150px) {
			flex-direction: column;
		}
	}

	&__info {
		max-width: 30.3125rem;
		padding-top: 3.75rem;
		@media (min-width: 1150px) {
			padding-top: 7.5rem;
		}
	}

	&__title {
		font-family: "Roboto Condensed", sans-serif;
		font-weight: 600;
		@include adaptiveValue(font-size, 50, 38);
		line-height: 104%;
		text-transform: uppercase;
		margin-bottom: 1rem;
	}

	&__subtitle {
		max-width: 22rem;
		@include adaptiveValue(margin-bottom, 80, 33);
	}

	&__reviews {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		max-width: 25rem;
		@media (max-width: 767.98px) {
			margin: 0 auto;
			min-width: 342px;
		}
	}

	&__review {
		font-family: "Roboto Condensed", sans-serif;
		font-style: italic;
		line-height: 130%;
		max-width: 15.25rem;
		@include adaptiveValue(font-size, 20, 16);
		grid-column-start: 1;
		grid-column-end: 3;
		&:not(.home-reviews__review-alt) {
			color: #1d1d1d;
			transform: rotate(-4deg);
		}
	}

	&__review-alt {
		max-width: 13rem;
		transform: rotate(4deg);
		margin-left: auto;
	}
}
.body-home-reviews {
	flex: 0 0 auto;
	min-width: 0;
	min-height: 0;
	display: flex;
	max-height: 745px;
	overflow: hidden;
	gap: 1.5rem;
	@include adaptiveValue(height, 906, 350);
	justify-content: center;
	@media (max-width: 767.98px) {
		gap: 0.5rem;
	}
	@media (max-width: 1150px) {
		background: #1d1d1d;
		margin: 0 -24px;
	}
	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		@media (min-width: 1150px) {
			flex: 0 0 calc(50% - 12px);
		}

		min-height: 0;
	}
	&__swiper {
		height: 100%;
		min-height: 0;
		overflow: hidden;
		width: 100%;
		pointer-events: none;
	}

	&__wrapper {
		transition-timing-function: linear !important;
	}

	&__slide {
		width: 100%;
		aspect-ratio: 1/1;
	}

	&__swiper-reverse {
	}
	&__body {
		position: relative;
		height: 100%;

		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	}
}
.home-reviews {
	&__footer {
	}

	&__crawl {
		gap: 48px;
		align-items: center;
		@include adaptiveValue(padding-block, 15, 12);
	}

	span {
		font-family: "Roboto Condensed", sans-serif;
		font-weight: 700;
		@include adaptiveValue(font-size, 32, 26);
		line-height: 100%;
		letter-spacing: 0.08em;
		text-transform: uppercase;
		color: #636363;
	}
	span.home-reviews__bold {
		font-family: "Edo", sans-serif;
		font-weight: 400;
		@include adaptiveValue(font-size, 42, 28);
		line-height: 105%;
		text-transform: uppercase;
		color: #1d1d1d;
	}
}

//==========================================================================================================================================================
.home-products {
	position: relative;
	z-index: 2;
	overflow: hidden;
	&__container {
		@include adaptiveValue(padding-top, 140, 214);
		@include adaptiveValue(padding-bottom, 140, 102);
	}

	&__body {
		@include adaptiveValue(margin-bottom, 125, 100);
		position: relative;
		z-index: 5;
	}

	&__item {
		max-width: 425px;
		&:nth-child(1) {
			@include adaptiveValue(margin-bottom, 164, 164);
			@media (min-width: 390px) {
				@include adaptiveValue(margin-left, 617, 0);
			}
		}
		&:nth-child(2) {
			@include adaptiveValue(margin-bottom, 100, 55);

			@media (min-width: 390px) {
				@include adaptiveValue(margin-left, 387, 0);
			}
			@media (max-width: 805px) {
				max-width: 16.9375rem;
			}
		}
		&:nth-child(3) {
			@include adaptiveValue(margin-left, 844, 117);
			@media (min-width: 390px) {
			}
		}
	}

	&__label {
		margin-bottom: 0.5rem;
	}

	&__title {
		margin-bottom: 0.5rem;
	}

	&__subtitle {
	}
	&__footer-actions {
		text-align: center;
		position: relative;
		z-index: 5;
	}

	&__button {
	}

	&__decor {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;
	}

	&__image {
		position: absolute;
		@include adaptiveValue(height, 800, 350);
		@include adaptiveValue(width, 800, 350);
	}

	&__image-01 {
		top: 0;
		// transform: translate(-40%, -50%);
		@include adaptiveValue(top, -427, -263);
		@include adaptiveValue(left, -307, -171);
		@include adaptiveValue(height, 938, 480);
		@include adaptiveValue(width, 938, 480);
	}

	&__image-02 {
		right: 0;
		@include adaptiveValue(top, 173, 404);
		@include adaptiveValue(right, -371, -200);
		@include adaptiveValue(height, 788, 345);
		@include adaptiveValue(width, 788, 345);
	}

	&__image-03 {
		left: 0;
		bottom: 0;
		@include adaptiveValue(bottom, -100, 217);
		@include adaptiveValue(left, -390, -219);
		@include adaptiveValue(height, 735, 343);
		@include adaptiveValue(width, 893, 358);
	}

	&__footer {
		background: #fff;
		position: relative;
	}

	&__crawl {
		@include adaptiveValue(padding-block, 14, 13);
		@include adaptiveValue(gap, 48, 24);
		border-top: 0.125rem solid #636363;

		span {
			font-family: "Roboto Condensed", sans-serif;
			font-weight: 700;
			@include adaptiveValue(font-size, 32, 26);
			line-height: 100%;
			letter-spacing: 0.08em;
			text-transform: uppercase;
			color: #1d1d1d;

			@media (max-width: 767.98px) {
				color: #636363;
				line-height: 108%;
			}
			&.home-products__bold {
				font-family: "Edo", sans-serif;
				font-weight: 400;
				@include adaptiveValue(font-size, 42, 28);
				line-height: 114%;
				letter-spacing: 0.08em;
				text-transform: uppercase;
				color: #82e09e;
				@media (max-width: 767.98px) {
					color: #66b07c;
				}
			}
		}
	}

	&__bold {
	}
}

//==========================================================================================================================================================

.home-about {
	@include adaptiveValue(padding-top, 148, 60);
	@include adaptiveValue(padding-bottom, 57, 40);
	background: #e5193a;
	&__container {
		color: #fff;
	}

	&__body {
		display: flex;
		gap: 40px;
		@include adaptiveValue(margin-bottom, 67, 50);
		@media (max-width: 991.98px) {
			flex-direction: column;
		}
	}

	&__info {
		flex: 0 0 37.91%;
	}

	&__title {
		font-family: "Roboto Condensed", sans-serif;
		font-weight: 600;
		@include adaptiveValue(font-size, 50, 38);
		line-height: 104%;
		text-transform: uppercase;
		margin-bottom: 1rem;
	}

	&__subtitle {
		p:not(:last-child) {
			@include adaptiveValue(margin-bottom, 24, 16);
		}

		i {
			font-family: "Roboto Condensed", sans-serif;
			@include adaptiveValue(font-size, 22, 16);
		}
		@include adaptiveValue(margin-bottom, 22, 16);
	}

	&__buton {
	}

	&__gallery {
		display: grid;
		grid-template-columns: repeat(2, auto);
		align-items: flex-end;
		@media (max-width: 991.98px) {
			margin: 0 -24px;
		}
	}

	&__image {
		&-01 {
			grid-row-start: 1;
			grid-row-end: 3;
			transform: rotate(10deg) translate(20%, 0);
			position: relative;
			z-index: 2;
		}
		&-02 {
			transform: rotate(-8deg);
			position: relative;
			z-index: 3;
		}
		&-03 {
			transform: rotate(-4deg);
			position: relative;
			z-index: 1;
		}
	}

	&__footer {
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		gap: 1.25rem;
	}

	&__details {
		font-family: "Roboto Condensed", sans-serif;
		font-weight: 400;
		@include adaptiveValue(font-size, 30, 24);
		line-height: 104%;
		text-transform: uppercase;
		b {
			font-weight: 700;
		}
	}

	&__logo {
	}
}

//==========================================================================================================================================================

.home-values {
	@include adaptiveValue(padding-top, 46, 60);
	@include adaptiveValue(padding-bottom, 46, 76);
	background: #1d1d1d;
	&__container {
		color: #fff;
		display: flex;
		@include adaptiveValue(gap, 57, 50);
		@media (max-width: 1200px) {
			flex-direction: column;
		}
	}

	&__info {
		@media (min-width: 1200px) {
			max-width: 14.0625rem;
		}
	}

	&__title {
		@media (min-width: 1200px) {
			max-width: 11.6875rem;
		}
		@media (max-width: 450px) {
			max-width: 17.625rem;
		}
		span {
			font-family: "Roboto Condensed", sans-serif;
			font-style: italic;
			font-weight: 500;
			@include adaptiveValue(font-size, 39, 42);
			line-height: 108%;
			color: #e5193a;
			display: block;
			margin-bottom: 8px;
		}
	}

	&__items {
		flex: 1 1 auto;
		display: flex;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		@include adaptiveValue(gap, 20, 24);
		@media (max-width: 900px) {
			grid-template-columns: 328px;
			justify-content: center;
		}
	}

	&__item {
		position: relative;
		border-radius: 0.5rem;
		overflow: hidden;
		padding-top: 162px;
		@media (max-width: 900px) {
			min-height: 528px;
		}
	}

	&__background {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		height: 100%;
	}

	&__label {
		position: relative;
		z-index: 5;
		text-align: center;
		font-family: "Edo", sans-serif;
		font-weight: 400;
		@include adaptiveValue(font-size, 52, 46);
		line-height: 104%;
		text-align: center;
		color: #fff;
	}

	&__label-01 {
		margin-bottom: 10.4375rem;
	}
	&__label-02 {
		margin-bottom: 7.875rem;
	}
	&__label-03 {
		margin-bottom: 100px;
	}

	&__description {
		position: relative;
		z-index: 5;
		font-family: "Roboto Condensed", sans-serif;
		font-style: italic;
		font-weight: 500;
		font-size: 1.25rem;
		line-height: 130%;
		visibility: hidden;
		opacity: 0;
		margin: 0 auto;
		position: relative;
		&::before {
			content: "";
			display: inline-block;
			height: 26px;
			width: 26px;
			background: url(../../img/main/quote-icon.png);
			transform: translate(0, 6px);
		}
	}

	&__description-01 {
		max-width: 14.4375rem;
		padding-bottom: 5.125rem;
	}
	&__description-02 {
		max-width: 225px;
	}
	&__description-03 {
		max-width: 15.375rem;
	}
}

//==========================================================================================================================================================

.footer {
	overflow: hidden;
	padding-top: 6.5rem;
	@media (max-width: 991.98px) {
		padding: 3.75rem 0 0;
	}
	&-dark {
		background: #1d1d1d;
		color: #fff;
		& .info-footer__back {
			background: #e5193a;
		}
		& .info-footer__title,
		& .info-footer__value span {
			color: #1d1d1d;
		}

		& .actions-footer__title {
			color: #fff;
		}

		& .actions-footer__input {
			border-color: #fff;
			background: #1d1d1d;
		}

		& .info-footer__socials svg {
			color: #1d1d1d;
		}
		& .info-footer__copy {
			color: rgba(255, 255, 255, 0.88);
		}

		& .actions-footer__button {
			color: #fff;
		}
		& .footer__logo-dark {
			display: none;
		}
		& .footer__logo-white {
			display: block;
		}
	}
	&__container {
	}

	&__body {
		display: grid;
		grid-template-columns: 44.9375rem auto;
		@include adaptiveValue(column-gap, 129, 30);
		row-gap: 1.875rem;
		@media (max-width: 1200px) {
			column-gap: 2.5rem;
		}
		@media (max-width: 991.98px) {
			grid-template-columns: 1fr;
			row-gap: 40px;
		}
	}

	&__logo {
		display: flex;
		align-items: flex-end;
		justify-content: center;
		@media (min-width: 991.98px) {
			padding-bottom: 0.75rem;
		}
		img {
			width: 100%;
		}
		@media (max-width: 991.98px) {
			order: 3;
		}
		&-white {
			display: none;
		}
	}
}
.info-footer {
	position: relative;
	aspect-ratio: 1 / 1;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	// transform: translate(-7.9375rem, 0);
	margin-bottom: 0;
	margin-left: -7.9375rem;
	@media (max-width: 767.98px) {
		// margin: 0 -0.9375rem;
		min-width: 28.5rem;
	}
	max-width: 719px;
	@media (min-width: 991.98px) {
		// transform: translate(-135px, 125px);
		margin-left: -135px;
		margin-bottom: -125px;
		grid-row-start: 1;
		grid-row-end: 3;
	}
	@media (max-width: 390px) {
		margin-left: -100px;
		min-width: 420px;
	}
	@media (max-width: 991.98px) {
		order: 2;
	}
	&__back {
		background: #1d1d1d;
		border-radius: 50%;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 1;
		animation: spin 20s linear infinite;
	}

	&__body {
		position: relative;
		z-index: 2;
		color: #fff;
		@include adaptiveValue(max-width, 342, 253);
	}

	&__title {
		font-family: "Edo", sans-serif;
		font-weight: 400;
		@include adaptiveValue(font-size, 40, 22);
		line-height: 80%;
		text-align: center;
		color: #e5193a;
		@include adaptiveValue(margin-bottom, 20, 15);
		@media (max-width: 390px) {
			font-size: 18px;
		}
	}

	&__items {
		@include adaptiveValue(margin-bottom, 64, 32);
	}

	&__item {
		display: flex;
		align-items: flex-start;
		gap: 0.6875rem;
		&:not(:last-child) {
			@include adaptiveValue(margin-bottom, 10, 14);
			@media (max-width: 390px) {
				margin-bottom: 10px;
			}
		}
		@media (max-width: 390px) {
			font-size: 12px;
		}
	}

	&__icon {
		color: #fff;
	}

	&__value {
		color: #fff;
		font-style: normal;
		@include adaptiveValue(font-size, 20, 14);
		&:has(span) {
			display: flex;
			gap: 0.625rem;
			align-items: center;
			@media (max-width: 390px) {
				gap: 0.3125rem;
			}
		}
		@media (max-width: 390px) {
			font-size: 0.75rem;
		}
		span {
			font-family: "Edo", sans-serif;
			font-weight: 400;
			@include adaptiveValue(font-size, 20, 14);
			line-height: 150%;
			color: #e5193a;
			@media (max-width: 390px) {
				font-size: 0.75rem;
			}
		}
	}

	&__schedule {
		@include adaptiveValue(margin-top, 30, 16);
		@include adaptiveValue(margin-bottom, 74, 32);
		@media (max-width: 390px) {
			margin-bottom: 0.9375rem;
		}
	}

	&__socials {
		@media (min-width: 767.98px) {
			margin-bottom: 2.25rem;
		}
	}

	&__list {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.625rem;
	}

	&__point {
	}

	&__button {
		padding: 0.375rem;
		border-radius: 50%;
		background: #fff;
		color: #e5193a;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				background: #e5193a;
				color: #fff;
			}
		}
	}

	&__copy {
		font-weight: 400;
		@include adaptiveValue(font-size, 14, 8);
		text-transform: capitalize;
		text-align: center;
		color: #9c9c9c;
		@media (max-width: 991.98px) {
			text-align: left;
			order: 4;
		}
	}
}
.actions-footer {
	@media (min-width: 991.98px) {
		padding-top: 4.5rem;
		margin-left: -8.4375rem;
	}
	@media (max-width: 991.98px) {
		order: 1;
	}
	&__title {
		font-family: "Roboto Condensed", sans-serif;
		font-weight: 700;
		@include adaptiveValue(font-size, 24, 20);
		line-height: 133%;
		letter-spacing: 0.08em;
		text-transform: uppercase;
		color: #000;
		margin-bottom: 1rem;
		@media (max-width: 767.98px) {
			letter-spacing: normal;
			line-height: 1;
		}
	}

	&__form {
		max-width: 34.1875rem;
	}

	&__input {
		display: block;
		width: 100%;
		padding: 1.5rem 1rem;
		border: 0.125rem solid #636363;
		border-radius: 0.5rem;
		transition: all 0.3s ease 0s;
		font-size: 1rem;
		&::placeholder {
			color: #636363;
		}
		&:focus {
			border-color: #e5193a;
		}
	}

	&__body {
		position: relative;
		margin-bottom: 1rem;
	}

	&__icon {
		position: absolute;
		top: 50%;
		right: 1.6875rem;
		transform: translate(0, -50%);
		color: #636363;
		@include svgSizes(20, 20);
	}

	&__button {
	}
}

//==========================================================================================================================================================

.hero-about {
	position: relative;
	@include adaptiveValue(height, 728, 663);
	.plyr {
		height: 100%;
	}

	.plyr--full-ui input[type="range"] {
		color: rgb(230, 26, 60);
	}

	.plyr__control--overlaid {
		background: rgba(230, 26, 60, 0.8);
	}

	.plyr--video .plyr__control.plyr__tab-focus,
	.plyr--video .plyr__control:hover,
	.plyr--video .plyr__control[aria-expanded="true"] {
		background: rgb(230, 26, 60);
	}

	.plyr__control.plyr__tab-focus {
		box-shadow: 0 0 0 5px rgba(230, 26, 60, 0.5);
	}

	.plyr__menu__container .plyr__control[role="menuitemradio"][aria-checked="true"]::before {
		background: rgba(230, 26, 60, 0.8);
	}
	&__video {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}

//==========================================================================================================================================================

.about-story {
	@include adaptiveValue(padding-top, 80, 40);
	@include adaptiveValue(padding-bottom, 120, 85);
	position: relative;
	// .about-story__container

	&__back {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 1;
	}

	&__container {
		position: relative;
		z-index: 2;
		img {
			object-position: right center;
		}
	}

	// .about-story__title

	&__title {
		font-family: "Roboto Condensed", sans-serif;
		font-style: italic;
		font-weight: 500;
		@include adaptiveValue(font-size, 22, 17);
		line-height: 127%;
		text-align: center;
		color: #636363;
		margin: 0 auto;
		@include adaptiveValue(margin-bottom, 80, 48);
		max-width: 34.375rem;
	}

	// .about-story__body

	&__body {
		max-width: 50rem;
		span {
			font-family: "Roboto Condensed", sans-serif;
			font-weight: 500;
			@include adaptiveValue(font-size, 39, 32);
			line-height: 108%;
			color: #e5193a;
		}

		p {
			position: relative;
			z-index: 5;
			&.mb-medium {
				margin-bottom: 3.5rem;
			}
			&.mb-small {
				margin-bottom: 1.5rem;
			}
			&.mb-big {
				@include adaptiveValue(margin-bottom, 88, 41);
			}
		}
	}

	// .about-story__bio

	&__bio {
		@include adaptiveValue(margin-top, 136, 56);
		display: grid;
		grid-template-columns: 58.88% 1fr;
		@include adaptiveValue(margin-bottom, 120, 30);
		@media (max-width: 61.9988rem) {
			grid-template-columns: 1fr;
		}
	}

	// .about-story__names

	&__names {
		display: flex;
		align-items: center;
		justify-content: space-around;
		gap: 1.875rem;
		@include adaptiveValue(padding-block, 24, 16);
		@media (max-width: 991.98px) {
			order: 2;
		}
	}

	// .about-story__name

	&__name {
		font-family: "Edo", sans-serif;
		font-weight: 400;
		@include adaptiveValue(font-size, 19, 14);
		line-height: 158%;
		letter-spacing: 0.06em;
		color: #1d1d1d;
	}

	// .about-story__photo

	&__photo {
		@media (max-width: 61.9988rem) {
			display: flex;
			align-items: center;
			justify-content: center;
			order: 1;
		}
		@media (min-width: 61.9988rem) {
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 2;
			grid-row-end: 3;
		}
		@media (max-width: 47.9988rem) {
			margin-inline: -24px;
		}
	}

	// .about-story__info

	&__info {
		background: #e5193a;
		color: #fff;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-block: 0.9375rem;
		@include adaptiveValue(padding-inline, 48, 24);
		@media (max-width: 991.98px) {
			padding-block: 3rem;
			padding-inline: 1.5rem;
			margin: 0 -1.5rem;
			order: 3;
		}
		@media (min-width: 991.98px) {
			grid-column-start: 2;
			grid-column-end: 3;
			grid-row-start: 2;
			grid-row-end: 3;
		}
	}

	// .about-story__label

	&__label {
		font-family: "Roboto Condensed", sans-serif;
		font-style: italic;
		font-weight: 500;
		font-size: 3rem;
		line-height: 100%;
		margin-bottom: 1rem;
	}

	// .about-story__more

	&__more {
		font-family: "Roboto Condensed", sans-serif;
		font-style: italic;
		font-weight: 500;
		@include adaptiveValue(font-size, 22, 20);
		line-height: 127%;
		color: #fff;
		max-width: 478px;
	}

	// .about-story__wrapper

	&__wrapper {
		display: flex;
		align-items: center;
		@media (min-width: 991.98px) {
			gap: 138px;
		}
	}

	// .about-story__decor

	&__decor {
		display: flex;
		align-items: center;
		flex: 0 0 40.76%;
		@media (max-width: 991.98px) {
			display: none;
		}
	}

	// .about-story__image

	&__image {
		@media (max-width: 991.98px) {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	// .about-story__image-01

	&__image-01 {
		transform: rotate(-8deg);
		@media (min-width: 991.98px) {
			margin-bottom: 5.625rem;
			margin-right: 1.6875rem;
		}
		@media (max-width: 61.9988rem) {
			@include adaptiveValue(margin-bottom, 88, 41);
		}
	}

	// .about-story__image-02

	&__image-02 {
		transform: rotate(8deg);
		@media (max-width: 61.9988rem) {
			@include adaptiveValue(margin-bottom, 88, 41);
		}
	}

	// .about-story__image-03

	&__image-03 {
		transform: rotate(-18deg);
		@media (max-width: 61.9988rem) {
			@include adaptiveValue(margin-top, 88, 41);
		}
	}
}

//==========================================================================================================================================================

.blog-hero {
	// .blog-hero__container
	@media (max-width: 1200px) {
		@include adaptiveValue(padding-top, 236, 116);
	}
	&__container {
	}

	// .blog-hero__body

	&__body {
		display: flex;
		@media (max-width: 1200px) {
			@include adaptiveValue(gap, 34, 32);
			align-items: stretch;
		}
		align-items: center;
		@media (max-width: 75rem) {
			flex-direction: column;
		}
	}

	// .blog-hero__info

	&__info {
		@media (min-width: 75rem) {
			flex: 0 0 19.0625rem;
		}
	}

	// .blog-hero__title

	&__title {
		font-family: "Roboto Condensed", sans-serif;
		font-weight: 600;
		@include adaptiveValue(font-size, 50, 38);
		line-height: 104%;
		text-transform: uppercase;
		color: #fff;
		margin-bottom: 1rem;
	}

	// .blog-hero__subtitle

	&__subtitle {
		p:not(:last-child) {
			margin-bottom: 0.9375rem;
		}
		span {
			color: #e5193a;
		}
		max-width: 16.25rem;
	}
}
.actions-blog-hero {
	// .actions-blog-hero__swiper
	@media (min-width: 1200px) {
		overflow: hidden;
		@include adaptiveValue(padding-top, 236, 116);
		padding-inline: 20px;
	}

	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 0;
	&__swiper {
		width: 100%;
		height: 100%;
		overflow: visible;
		@media (max-width: 767.98px) {
		}
	}

	// .actions-blog-hero__wrapper

	&__wrapper {
	}

	// .actions-blog-hero__slide

	&__slide {
	}

	// .actions-blog-hero__body

	&__body {
	}

	// .actions-blog-hero__back

	// .actions-blog-hero__nav

	&__nav {
	}

	// .actions-blog-hero__button

	&__button {
	}

	// .actions-blog-hero__button-next

	&__button-next {
	}
}

.nav-swiper {
	@include adaptiveValue(margin-top, 10, 14);
	display: flex;
	align-items: center;
	justify-content: flex-end;
	// .nav-swiper__button

	&__button {
		display: inline-block;
		border: 0.0625rem dashed #fff;
		color: #fff;
		height: 2.4375rem;
		width: 2.4375rem;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				border-color: #e5193a;
				color: #e5193a;
			}
		}
		&-dark {
			background: #1d1d1d;
		}
	}

	// .nav-swiper__button-next

	&__button-next {
		transform: rotate(180deg);
	}
}

//==========================================================================================================================================================

.blog-hero-articles {
	@include adaptiveValue(padding-top, 64, 70);
	@include adaptiveValue(padding-bottom, 48, 82);
	&__container {
	}

	&__header {
		margin-bottom: 1rem;
	}

	&__label {
		font-family: "Roboto Condensed", sans-serif;
		font-style: italic;
		font-weight: 500;
		@include adaptiveValue(font-size, 22, 20);
		line-height: 127%;
		color: #fff;
	}

	&__value {
	}

	&__footer {
		text-align: center;
		@include adaptiveValue(margin-top, 80, 50);
	}

	&__button {
		svg {
			transform: rotate(180deg);
		}
	}
}

//==========================================================================================================================================================

.single-page {
	@include adaptiveValue(padding-top, 180, 107);
	& .mb-medium {
		@include adaptiveValue(margin-bottom, 64, 40);
	}
	& .mt-medium {
		@include adaptiveValue(margin-top, 64, 40);
	}
	&__container {
	}

	&__header {
		@include adaptiveValue(margin-bottom, 63, 40);
	}

	&__title {
		font-family: "Roboto Condensed", sans-serif;
		font-weight: 600;
		@include adaptiveValue(font-size, 50, 38);
		line-height: 105%;
		text-transform: uppercase;
		color: #1d1d1d;
		margin-bottom: 1rem;
		span {
			color: #e5193a;
		}
	}

	&__details {
		@include adaptiveValue(font-size, 22, 18);
		line-height: 127%;
		max-width: 30.3125rem;
	}

	&__body {
		color: #fff;
		background: #1d1d1d;
		.single-page__container {
			display: flex;
			@include adaptiveValue(gap, 48, 40);
			@media (max-width: 991.98px) {
				flex-direction: column-reverse;
				align-items: center;
			}
		}
		&-reverse {
			.single-page__container {
				flex-direction: row-reverse;
			}
			.single-page__images {
				display: none;
				@media (min-width: 991.98px) {
					margin-left: -3rem;
					margin-right: 0;
					display: block;
				}
			}
			.single-page__text {
				@media (max-width: 991.98px) {
					padding-top: 2.5rem;
					padding-bottom: 0;
				}
			}
		}
	}

	&__text {
		background: #1d1d1d;
		@media (min-width: 61.9988rem) {
			@include adaptiveValue(padding-top, 80, 40);
		}
		p {
			& > b {
				font-family: "Roboto Condensed", sans-serif;
				font-weight: 500;
				@include adaptiveValue(font-size, 38, 32);
				line-height: 1;
				color: #e5193a;
			}
		}
		p:not(:last-child) {
			@include adaptiveValue(margin-bottom, 48, 32);
		}
		@media (max-width: 991.98px) {
			padding-bottom: 2.5rem;
		}
	}

	&__quote {
		font-family: "Roboto Condensed", sans-serif;
		font-style: italic;
		font-weight: 500;
		@include adaptiveValue(font-size, 20, 17);
		padding-left: 1.5rem;
		position: relative;
		@media (min-width: 991.98px) {
			max-width: 39.75rem;
		}
		&::after {
			content: "";
			position: absolute;
			width: 2px;
			height: 100%;
			top: 0;
			left: 0;
			background: #e5193a;
		}
	}

	&__autor {
		margin-top: 8px;
		font-size: 1rem;
		line-height: 175%;
		text-align: right;
		display: block;
		padding-left: 1.5rem;
		@media (min-width: 991.98px) {
			max-width: 39.75rem;
		}
		b {
			font-weight: 700;
			@media (max-width: 767.98px) {
				display: block;
			}
		}
	}

	&__image {
		@media (max-width: 991.98px) {
			margin: 0 -1.5rem;
		}
		img {
			@media (max-width: 991.98px) {
				display: block;
				margin: 0 auto;
			}
		}
		&-sm {
			@media (min-width: 991.98px) {
				display: none;
			}
		}
	}

	&__images {
		@media (min-width: 991.98px) {
			margin-right: -3rem;
		}
		flex: 0 0 44.25%;
	}

	&__decor {
	}

	&__crawl {
		@include adaptiveValue(padding-block, 21, 13);
		@include adaptiveValue(gap, 48, 24);
		span {
			font-family: "Roboto Condensed", sans-serif;
			font-weight: 700;
			@include adaptiveValue(font-size, 32, 26);
			line-height: 100%;
			letter-spacing: 0.08em;
			text-transform: uppercase;
			color: #636363;
		}
	}
}

//==========================================================================================================================================================

.single-post-articles {
	@include adaptiveValue(padding-block, 104, 80);
	&__container {
	}

	&__title {
		font-family: "Roboto Condensed", sans-serif;
		font-size: 2rem;
		line-height: 100%;
		color: #000;
		font-weight: 500;
		@media (max-width: 47.9988rem) {
			font-weight: 700;
		}
		@include adaptiveValue(margin-bottom, 16, 24);
	}

	.article__wrapper {
		@media (max-width: 767.98px) {
			display: block;
		}
		.swiper {
			@media (max-width: 767.98px) {
				overflow: visible;
			}
		}
	}

	@media (min-width: 767.98px) {
		.swiper,
		.swiper-wrapper,
		.swiper-slide {
			display: contents;
		}
	}
	.nav-swiper {
		@media (min-width: 767.98px) {
			display: none;
		}
	}
}

//==========================================================================================================================================================

.geolocation {
	&__container {
		@media (min-width:991.98px) {
			display: flex;
			@include adaptiveValue(gap, 48, 16);
			
		}
	}

	&__map {
		margin-right: -3rem;
		position: relative;
		img{
			position:absolute;
			width:100%;
			height:100%;
			top:0;
			left:0;
			object-fit: cover;			
			object-position: center
		}
		@media (min-width:991.98px) {
			flex: 0 0 59.27%;
			min-height: 100%;
		}
		@media (max-width:991.98px) {
			margin: 0 -1.5rem;
			margin-top: 2rem;
			min-width: 100%;
			min-height: 25rem;
			
		}
		@media (max-width:400px) {
			min-height: 22.625rem;
		}
	}
}
.action-geolocation {
	@include adaptiveValue(padding-top, 56, 24);
	@media (min-width:991.98px) {
			flex: 1 1 auto;
		}
	position: relative;
	&__decor{
		position:absolute;
		bottom:0;
		left:50%;
		transform: translate(-50%,0);
		z-index: -1;
		@include adaptiveValue(width, 348, 158);
		@include adaptiveValue(height, 201, 91);
	}
	&__title {
		font-family: "Roboto Condensed", sans-serif;
		font-weight: 600;
		@include adaptiveValue(font-size, 50, 38);
		line-height: 104%;
		text-transform: uppercase;
		@include adaptiveValue(margin-bottom, 16, 20);
		span {
			color: #e5193a;
		}
	}

	&__input {
		display: block;
		width: 100%;
		padding: 1.5rem 1rem;
		border: 0.125rem solid #636363;
		border-radius: 0.5rem;
		transition: all 0.3s ease 0s;
		font-size: 1rem;
		&::placeholder {
			color: #636363;
		}
		&:focus {
			border-color: #e5193a;
		}
	}

	&__body {
		position: relative;
		margin-bottom: 1rem;
	}

	&__icon {
		position: absolute;
		top: 50%;
		right: 1.6875rem;
		transform: translate(0, -50%);
		color: #636363;
		@include svgSizes(20, 20);
	}

	&__button {
		&-route {
			font-family: "Roboto Condensed", sans-serif;
			font-weight: 700;
			@include adaptiveValue(font-size, 14, 13);
			line-height: 114%;
			text-transform: uppercase;
			color: #1d1d1d;
			border: 1px solid #1d1d1d;
			border-radius: 0.5rem;
			@include adaptiveValue(padding-block, 6, 4);
			padding-inline: 0.625rem;
			background: #fff;
			display: none;
			transition: color 0.3s ease 0s;
			@media (any-hover: hover) {
				&:hover {
					color: #e5193a;
				}
			}
		}
	}

	&__label {
		@include adaptiveValue(font-size, 20, 16);
		line-height: 140%;
		color: #636363;
		@include adaptiveValue(margin-top, 56, 16);
		@include adaptiveValue(padding-bottom, 231, 121);
		display: none;

	}

	&__results {
		@media (min-width:61.9988rem) {
			margin-top: 2rem;
			
		}
	}

	&__list {
		background: #1d1d1d;
		border-radius: 0.5rem 0.5rem 0 0;
		overflow: hidden;
		@media (max-width:991.98px) {
			margin: 0 -1.5rem;
		}
	}

	&__item {
		background: #1d1d1d;
		color: #fff;
		border-radius: 0.5rem;
		padding: 1rem 1.5rem 1rem 1.5rem;
		transition: all 0.3s ease 0s;
		&._active {
			background: #e5193a;
			.action-geolocation__button-route {
				display: inline-block;
			}
		}
		&:not(:last-child) {
			margin-bottom: 0.5rem;
		}
	}

	&__wrapper {
		position: relative;
		padding-left: 1.5rem;
		&::before {
			content: "";
			position: absolute;
			width: 0.125rem;
			height: 100%;
			top: 0;
			left: 0;
			background: #fff;
		}
	}

	&__name {
		margin-bottom: 0.25rem;
	}

	&__address {
		font-weight: 400;
		@include adaptiveValue(font-size, 16, 14);
		text-transform: capitalize;
		font-style: normal;
		@include adaptiveValue(margin-bottom, 14, 8);
	}

	&__shedule {
		font-weight: 400;
		@include adaptiveValue(font-size, 16, 13);
		line-height: 1;
		@include adaptiveValue(margin-bottom, 12, 8);
		&::before {
			content: "";
			display: inline-block;
			margin-right: 0.5rem;
			height: 0.5rem;
			width: 0.5rem;
			background: #66b07c;
			border-radius: 50%;
		}
		&-close {
			&::before {
				background: #810217;
			}
		}
		span {
			font-weight: 600;
		}
	}

	&__footer {
		text-align: right;
	}
}
.button {
}
.button-diff {
}
.button-diff-dark-mode {
}
